<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<title>{{if parentDir .Path}}{{name .Path}}{{else}}Harpocrates{{end}}</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>{{if parentDir .Path}}{{name .Path}}{{else}}Harpocrates{{end}}</h1>
		</div>

		<div class="inner-content">
			<ul>{{if parentDir .Path}}
				<li><a href="/p{{parentDir .Path}}">../</a></li>{{end}}{{range .Subdirectories}}
				<li><a href="/p{{.}}/">{{name .}}/</a></li>{{end}}{{range .Entries}}
				<li><a href="/p{{.}}">{{name .}}</a></li>{{end}}
			</ul>
		</div>
	</div>
</body>
</html>
