<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<title>{{if parentDir .Path}}{{name .Path}}{{else}}Harpocrates{{end}}</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>{{if parentDir .Path}}{{name .Path}}{{else}}Harpocrates{{end}}</h1>
			<div class="controls">
				<a href="/logout">Logout</a>
			</div>
		</div>

		<div class="inner-content">
			<ul class="dir-list">{{if parentDir .Path}}
				<li><a href="{{parentDir .Path}}">..</a></li>{{end}}{{range .Subdirectories}}
				<li><a href="{{.}}/">{{name .}}</a></li>{{end}}
			</ul>
			<ul class="entry-list">{{range .Entries}}
				<li><a href="{{.}}">{{name .}}</a></li>{{end}}
			</ul>
		</div>
	</div>
</body>
</html>
