<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<title>{{name .Path}} - Harpocrates</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>{{name .Path}}</h1>
			<div class="controls">
				<a href="/logout"><span class="fa">&#xf08b;</span> Logout</a>
			</div>
		</div>

		<div class="inner-content">
			<pre id="passdata">{{.Content}}</pre>
			<div class="controls">
				<a href="{{dir .Path}}"><span class="fa">&#xf00d;</span> Close</a>
			</div>
		</div>
	</div>

	<script type="application/javascript" src="/entry-view.js"></script>
</body>
</html>
