<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="application/javascript" src="/u2f-api.js"></script>
	<script type="application/javascript">
		function signCallback(resp) {
			// Check error.
			if (('errorCode' in resp) && (resp.errorCode !== u2f.ErrorCodes['OK'])) {
				var msgEl = document.getElementById("message");
				var msg = 'U2F error ' + resp.errorCode;
				for (name in u2f.ErrorCodes) {
					if (resp.errorCode === u2f.ErrorCodes[name]) {
						msg += ' (' + name + ')';
					}
				}
				if (resp.errorMessage) {
					msg += ': ' + resp.errorMessage;
				}
				msgEl.textContent = msg;
				return;
			}

			// POST response to server.
			respEl = document.getElementById("response");
			respEl.value = JSON.stringify(resp);
			respEl.form.submit();
		}

		var req = {{.}};
		u2f.sign(req.appId, req.challenge, req.registeredKeys, signCallback);
	</script>
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Login</h1>
		</div>

		<div class="inner-content">
			<h2 class="message" id="message">&#x1f511; Insert and touch your U2F device.</h2>

			<form method="POST">
				<input type="hidden" name="response" id="response" />
				<input type="hidden" name="action" value="u2f-auth" />
			</form>
		</div>
	</div>
</body>
</html>
