<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=0.5" />
	<title>Search Results - {{.Query}} - Harpocrates</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="content">
		<div class="header">
			<h1>Search Results for "{{.Query}}"</h1>
			<div class="controls">
				<a href="/logout"><span class="fa">&#xf08b;</span> Logout</a>
			</div>
		</div>

		<div class="inner-content">{{if .Matches}}
			<ul class="entry-list">{{range .Matches}}
				<li><a href="{{.}}">{{relative .}}</a></li>{{end}}
			</ul>{{else}}
			No results.{{end}}
		</div>
	</div>
</body>
</html>
